* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  // line-height: 1;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(180deg, #efdee8, #8979bd);
}

input,
button,
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;
.wrapper {
  width: 400px;
  height: 100%;
  max-height: 90%;
  background-color: white;
  padding: 40px 30px;
  border-radius: 15px;
  overflow: hidden;
  @media (max-width: 1500px) {

    width: 350px;
  }
  @media (max-width: 900px) {
    padding: 20px 30px;
    width: 250px;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 900px) {
    margin-bottom: 20px;
  }
}

h1 {
  font-family: Bahnschrift;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 25px 0;
  @media (max-width: 1500px) {
    margin: 0 0 15px 0;
    font-size: 25px;
  }
  @media (max-width: 900px) {
    margin: 0 0 10px 0;
    font-size: 20px;
  }

}
h3 {
  font-family: Bahnschrift;
  font-size: 25px;
  font-weight: 600;
  @media (max-width: 1500px) {
    font-size: 22px;
  }
  @media (max-width: 900px) {
    font-size: 18px;
  }
}


.emailFieldItems {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media (max-width: 900px) {
    margin-bottom: 20px;
  }
}

.emailField {
  border-bottom: 1px solid black;
  padding: 5px 0;
  font-size: 15px;
  @media (max-width: 1500px) {
    padding: 0;
    font-size: 18px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sendButton {
  margin-bottom: 25px;
  background-color: #21268F;
  border-radius: 20px;
  max-width: 80%;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 2px 2px 2px 2px #3c3f99;
  }

  &:active {
    box-shadow: 1px 1px 1px 1px #3c3f99;
  }

  @media (max-width: 900px) {
    margin-bottom: 15px;
    font-size: 12px;
  }
}

.passwordQuestion {
  margin-bottom: 5px;
  color: #a5a5a5;
  font-size: 15px;
  transition: all 0.3s ease;

  &:hover {
    color: #575656;
  }

  @media (max-width: 900px) {
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.tryLogging {
  color: #21268F;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease;

  &:hover {
    color: red;
  }

  @media (max-width: 900px) {
    font-size: 12px;
  }
}

.instructions {
  margin-bottom: 100px;
  color: #a5a5a5;

  @media (max-width: 800px) {
    margin-bottom: 30px;
  }
  @media (max-width: 900px) {
    margin-bottom: 20px;
    font-size: 14px;
  }
}