
.imgAvatar {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.userName {
  margin-bottom: 20px;
}

.avatar {
  margin-bottom: 20px;
}

.buttonLogOut {
  margin-bottom: 20px;
  background-color: #21268F;
  border-radius: 20px;
  width: 100px;
  padding: 10px;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  display: block;

  &:hover {
    box-shadow: 2px 2px 2px 2px #3c3f99;
  }

  &:active {
    box-shadow: 1px 1px 1px 1px #3c3f99;
  }

  @media (max-width: 900px) {
    margin-bottom: 15px;
    font-size: 12px;
  }
}
